<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>footer</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="style.css" rel="stylesheet">
</head>
<body>

<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4">
                <img src="img/w3newbie.png" alt="">
                <hr class="light">
                <p>555-555-555</p>
                <p>email@email.com</p>
                <p>100 street name</p>
                <p>Bandung, Indonesia 000000</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h3>Our hours</h3>
                <hr class="light">
                <p>Monday: 9am-5pm</p>
                <p>Saturday: 10am-4pm</p>
                <p>Sunday: closed</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h3>Service Area</h3>
                <hr class="light">
                <p>Bandung, Indonesia 000000</p>
                <p>Bandung, Indonesia 000000</p>
                <p>Bandung, Indonesia 000000</p>
                <p>Bandung, Indonesia 000000</p>
                <p>Bandung, Indonesia 000000</p>
            </div>
            <div class="col-12">
                <hr class="light-100">
                <h5>&copy; w3newbie.com</h5>
            </div>
        </div>
    </div>
</footer>
    
</body>
</html>