<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Easybucket</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="style.css" rel="stylesheet">
</head>
<body>

<!-- Category cards -->
<div class="container-fluid padding">
        <div class="row padding">
            <div class="col-md-2">
                <div class="card">
                    <img class="card-img-top" src="/assets/thumbnail2.png" alt="">
                    <div class="cad-body">
                        <h4 class="card-title">John Doe</h4>
                        <p class="card-text">John is an Internet enterpreneur with almost 20 years of experience</p>
                        <a href="#" class="btn btn-outline-secondary">lihat</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <img class="card-img-top" src="/assets/thumbnail2.png" alt="">
                    <div class="cad-body">
                        <h4 class="card-title">Mary Jo</h4>
                        <p class="card-text">Mary Jo is a designer with almost 10 years of digital design experience</p>
                        <a href="#" class="btn btn-outline-secondary">lihat</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <img class="card-img-top" src="/assets/thumbnail2.png" alt="">
                    <div class="cad-body">
                        <h4 class="card-title">Phil Ho</h4>
                        <p class="card-text">Phil is a developer with over 5 years of web development experience</p>
                        <a href="#" class="btn btn-outline-secondary">lihat</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <img class="card-img-top" src="/assets/thumbnail2.png" alt="">
                    <div class="cad-body">
                        <h4 class="card-title">Phil Ho</h4>
                        <p class="card-text">Phil is a developer with over 5 years of web development experience</p>
                        <a href="#" class="btn btn-outline-secondary">lihat</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <img class="card-img-top" src="/assets/thumbnail2.png" alt="">
                    <div class="cad-body">
                        <h4 class="card-title">Phil Ho</h4>
                        <p class="card-text">Phil is a developer with over 5 years of web development experience</p>
                        <a href="#" class="btn btn-outline-secondary">lihat</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <img class="card-img-top" src="/assets/thumbnail2.png" alt="">
                    <div class="cad-body">
                        <h4 class="card-title">Phil Ho</h4>
                        <p class="card-text">Phil is a developer with over 5 years of web development experience</p>
                        <a href="#" class="btn btn-outline-secondary">lihat</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row padding">
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="/assets/thumbnail2.png" alt="">
                        <div class="cad-body">
                            <h4 class="card-title">John Doe</h4>
                            <p class="card-text">John is an Internet enterpreneur with almost 20 years of experience</p>
                            <a href="#" class="btn btn-outline-secondary">lihat</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="/assets/thumbnail2.png" alt="">
                        <div class="cad-body">
                            <h4 class="card-title">Mary Jo</h4>
                            <p class="card-text">Mary Jo is a designer with almost 10 years of digital design experience</p>
                            <a href="#" class="btn btn-outline-secondary">lihat</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="/assets/thumbnail2.png" alt="">
                        <div class="cad-body">
                            <h4 class="card-title">Phil Ho</h4>
                            <p class="card-text">Phil is a developer with over 5 years of web development experience</p>
                            <a href="#" class="btn btn-outline-secondary">lihat</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="/assets/thumbnail2.png" alt="">
                        <div class="cad-body">
                            <h4 class="card-title">Phil Ho</h4>
                            <p class="card-text">Phil is a developer with over 5 years of web development experience</p>
                            <a href="#" class="btn btn-outline-secondary">lihat</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="/assets/thumbnail2.png" alt="">
                        <div class="cad-body">
                            <h4 class="card-title">Phil Ho</h4>
                            <p class="card-text">Phil is a developer with over 5 years of web development experience</p>
                            <a href="#" class="btn btn-outline-secondary">lihat</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="/assets/thumbnail2.png" alt="">
                        <div class="cad-body">
                            <h4 class="card-title">Phil Ho</h4>
                            <p class="card-text">Phil is a developer with over 5 years of web development experience</p>
                            <a href="#" class="btn btn-outline-secondary">lihat</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</body>
</html>